name: Checks

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install deps
        run: npm ci

      - name: Install codespell
        run: python3 -m pip install codespell

      - name: Check links
        run: npm run check:links

      - name: Check spelling
        run: npm run check:spelling
